html, body {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #000;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  touch-action: none; /* wichtig für Pointer Events auf Touch-Geräten */
  cursor: crosshair;
}
